<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyABxXB7xtmL8f4KL03pE8g0ucX-fQ0s9yI</string>
	<key>GCM_SENDER_ID</key>
	<string>524995893021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sprint1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>movilfirebasewe</string>
	<key>STORAGE_BUCKET</key>
	<string>movilfirebasewe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524995893021:ios:066adb1f9b370116de33f4</string>
</dict>
</plist>